*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
header .Ohmyfood__logo {
  width: 50%;
  height: 50%;
}
header .menuHeading__link {
  text-decoration: none;
  color: black;
}
header .menuHeading__link:visited {
  color: black;
}

footer {
  margin-top: 0px;
  background-color: #353535;
}
footer .ohmyfood__p {
  font-family: "Shrikhand", sans-serif;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 0px;
}
footer .footerList {
  margin-top: 0px;
  list-style: none;
  color: #ffffff;
  padding-left: 20px;
  padding-bottom: 35px;
}
footer .footerList .footerList__element {
  padding-bottom: 15px;
}

.icon__localisation {
  color: #353535;
  min-width: 14px;
  padding-right: 20px;
}

.icon__ustensil {
  color: #ffffff;
  padding-right: 10px;
}

.icon__helping {
  color: #ffffff;
  padding-right: 10px;
}

.icon__element {
  color: #7e7e7e;
  margin-right: 30px;
  width: 20px;
}

.icon__heartCard {
  font-size: 25px;
  transition: all 1s ease-out;
  cursor: pointer;
  opacity: 1;
}
.icon__heartCard:hover {
  opacity: 0;
}

.icon__heartCard__full {
  font-size: 25px;
  margin-left: -25px;
  opacity: 0;
  transition: all 2s ease-out;
  cursor: pointer;
  color: #ffffff;
}
.icon__heartCard__full:hover {
  opacity: 1;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.icon__heartPreview {
  margin-right: 40px;
  font-size: 25px;
  transition: all 2s ease-out;
  cursor: pointer;
}
.icon__heartPreview:hover {
  color: #cf6adb;
}

.icon__arrow {
  color: black;
  margin-left: -65px;
  font-size: 20px;
}

.restaurantList {
  margin-top: 60px;
  background-color: #f6f6f6;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurantList__title {
  padding-top: 50px;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-top: 0px;
  margin-left: -225px;
  font-size: 25px;
}

.restaurantSearch .restaurantSearch__localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0px -1px 2px silver;
  margin-top: 20px;
}
.restaurantSearch .restaurantSearch__localisation .restaurantSearch__p1 {
  color: #353535;
}
.restaurantSearch .restaurantSearch__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.restaurantSearch .restaurantSearch__description .restaurantSearch__title {
  text-align: center;
  margin-bottom: 0px;
}
.restaurantSearch .restaurantSearch__description .restaurantSearch__p2 {
  text-align: center;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 25px;
}
.restaurantSearch .restaurantSearch__description .button-purple {
  margin-bottom: 50px;
}

.button-purple {
  border-radius: 25px 25px 25px 25px;
  box-shadow: 1px 1px 8px 1px silver;
  color: #ffffff;
  background: linear-gradient(#ff79da, #9356dc);
  min-height: 50px;
  border-style: none;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 2s ease-out;
}
.button-purple:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 15px 2px black;
}

/**
<div class="fonctionnementList">
        <h3 class="fonctionnementList__title">Fonctionnement</h3>
        <div class="fonctionnementList__element">
          <div class="fonctionnementList__elementNumber">1</div>
          <i class="fas fa-mobile-alt"></i>
          <p class="fonctionnementList__elementP">Choisissez un restaurant</p>
        </div>
        <div class="fonctionnementList__element">
          <div class="fonctionnementList__elementNumber">2</div>
          <i class="fas fa-list-ul"></i>
          <p class="fonctionnementList__elementP">Composez votre menu</p>
        </div>

      </div>
*/
.fonctionnementList__title {
  margin-left: 20px;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 35px;
}
.fonctionnementList__element {
  display: flex;
  box-shadow: 1px 1px 8px 1px #eaeaea;
  background-color: #f6f6f6;
  min-height: 75px;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 18px 18px 18px 18px;
  min-width: 325px;
  margin-right: 20px;
  margin-left: 25px;
}
.fonctionnementList__element:hover {
  background-color: #f5edff;
}
.fonctionnementList__element:hover .icon__element {
  color: #9356dc;
}
.fonctionnementList__elementNumber {
  display: flex;
  border-radius: 50%;
  min-height: 25px;
  min-width: 25px;
  color: #ffffff;
  background-color: #9356dc;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: -10px;
}
.fonctionnementList__elementP {
  font-weight: bold;
}

.restaurantCard {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 8px 1px silver;
  max-width: 335px;
  margin-left: 15px;
  margin-right: 20px;
  max-height: 252px;
  min-width: 335px;
  min-height: 252px;
  display: flex;
  flex-direction: column;
}
.restaurantCard .restaurantCard__caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.restaurantCard .restaurantCard__caption .restaurantCard__heart {
  order: 2;
  width: 50px;
  display: flex;
}
.restaurantCard .restaurantCard__caption .restaurantCard__info {
  margin-left: 15px;
  order: 1;
}
.restaurantCard .restaurantCard__caption .restaurantCard__info .restaurantCard__desc {
  margin: 2px;
  font-weight: bold;
  order: 1;
}
.restaurantCard .restaurantCard__caption .restaurantCard__info .restaurantCard__localisation {
  margin: 2px;
}
.restaurantCard .restaurantCard__img {
  object-fit: cover;
  max-height: 175px;
  width: 335px;
  border-radius: 15px 15px 0px 0px;
}
.restaurantCard .restaurantCard__new {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008766;
  font-size: 14px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  position: relative;
  z-index: auto;
  margin-top: -160px;
  margin-left: 240px;
  margin-bottom: 130px;
}

.restaurantPreview .restaurantPreview__img {
  width: 100%;
  height: 300px;
  display: block;
  margin-top: 15px;
  position: relative;
  max-height: 350px;
  object-fit: cover;
}
.restaurantPreview .restaurantPreview__desc {
  border-radius: 35px 35px 0px 0px;
  margin-top: -40px;
  border: solid #f6f6f6;
  position: relative;
  z-index: auto;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurantPreview .restaurantPreview__desc .restaurantPreview__title {
  margin-left: 20px;
  font-size: 25px;
  font-family: "Shrikhand", sans-serif;
}

.dishesList__title {
  margin-bottom: 8px;
  margin-left: 20px;
}
.dishesList__title__borderLength {
  margin-left: 20px;
  width: 40px;
  height: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  border-bottom: 3px solid #99e2d0;
}
.dishesList__element {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 8px 1px silver;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 68px;
  margin-bottom: 15px;
  background-color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  min-width: 350px;
}
.dishesList__element:hover {
  overflow: hidden;
}
.dishesList__element:hover__animation {
  background-color: #99e2d0;
  transform: translateX(10px);
  transition: transform 2s ease-out;
  width: 50px;
}
.dishesList__element__caption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-top: 10px;
  max-height: 68px;
  justify-content: center;
}
.dishesList__element__title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}
.dishesList__element__desc {
  margin-top: 0px;
  padding-bottom: 10px;
}
.dishesList__element__price {
  margin-right: 20px;
  margin-bottom: 10px;
}

.restaurantsAttach {
  background-color: #f6f6f6;
}

.align__button {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  padding-bottom: 80px;
}

.link {
  text-decoration: none;
  color: black;
}
.link:visited {
  color: black;
}

/*# sourceMappingURL=style.css.map */
