.button-purple {
  border-radius: 25px 25px 25px 25px;
  color: $white;
  background: linear-gradient($colour-secondary, $colour-primary);
  min-height: 50px;
  min-width: 218px;
  border-style: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
