.dishesList {
  &__title {
    margin-bottom: 8px;
    margin-left: 20px;
    &__borderLength {
      margin-left: 20px;
      width: 40px;
      height: 0px;
      margin-top: 0px;
      margin-bottom: 15px;
      border-bottom: 3px solid $colour-tertiary;
    }
  }
  &__element1,
  &__element2,
  &__element3 {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 8px 1px silver;
    display: flex;
    justify-content: space-between;

    max-height: 68px;
    margin-bottom: 15px;
    background-color: $white;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 350px;
    overflow: hidden;

    align-items: stretch;

    &__caption {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      padding-top: 10px;
      text-overflow: ellipsis;

      justify-content: center;
      flex-grow: 1;
    }
    &__title {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 18px;
    }
    &__desc {
      margin-top: 0px;
      padding-bottom: 10px;
    }
    &__price {
      margin-bottom: 10px;
      margin-right: -35px;
      align-self: flex-end;
    }
    &__animation {
      background-color: $colour-tertiary;
      transform: translateX(60px);
      transition: all 200ms ease-out;
      width: 60px;
      height: 70px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &:hover &__animation {
      transform: translateX(0px);
      margin-left: 55px;
      transition: all 200ms ease-out;
    }
    &:hover .icon__cercle {
      transform: translateX(-20px) rotate(360deg);
      transition: all 700ms ease-out;
    }
  }
  &__element1 {
    -webkit-animation: fadein 1s;
  }
  &__element2 {
    -webkit-animation: fadein 2s;
  }
  &__element3 {
    -webkit-animation: fadein 3s;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
