/**
<div class="fonctionnementList">
        <h3 class="fonctionnementList__title">Fonctionnement</h3>
        <div class="fonctionnementList__element">
          <div class="fonctionnementList__elementNumber">1</div>
          <i class="fas fa-mobile-alt"></i>
          <p class="fonctionnementList__elementP">Choisissez un restaurant</p>
        </div>
        <div class="fonctionnementList__element">
          <div class="fonctionnementList__elementNumber">2</div>
          <i class="fas fa-list-ul"></i>
          <p class="fonctionnementList__elementP">Composez votre menu</p>
        </div>
      
      </div>
*/

.fonctionnementList {
  &__title {
    margin-left: 20px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
  &__element {
    display: flex;
    box-shadow: 1px 1px 8px 1px $darkGrey;
    background-color: $grey;
    min-height: 75px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 18px 18px 18px 18px;
    min-width: 325px;
    margin-right: 20px;
    margin-left: 25px;
  }
  &__elementNumber {
    display: flex;
    border-radius: 50%;
    min-height: 25px;
    min-width: 25px;
    color: $white;
    background-color: $colour-primary;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: -10px;
  }
  &__elementP {
    font-weight: bold;
  }
}
