.icon__localisation {
  color: $lightBlack;
  min-width: 14px;
  padding-right: 20px;
}
.icon__ustensil {
  color: $white;
  padding-right: 10px;
}

.icon__helping {
  color: $white;
  padding-right: 10px;
}

.icon__element {
  color: $iconGrey;
  margin-right: 30px;
  width: 20px;
}

.icon__heartCard {
  font-size: 25px;
  transition: all 1s ease-out;
  cursor: pointer;
  opacity: 1;
  &:hover {
    opacity: 0;
  }
}

.icon__heartCard__full {
  font-size: 25px;
  margin-left: -25px;
  opacity: 0;
  transition: all 2s ease-out;
  cursor: pointer;
  color: $white;

  &:hover {
    opacity: 1;
    background: linear-gradient($colour-secondary, $colour-primary);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.icon__heartPreview {
  margin-right: 40px;
  font-size: 25px;
  transition: all 2s ease-out;
  cursor: pointer;
  &:hover {
    color: $colour-heart;
  }
}

.icon__arrow {
  color: black;
  margin-left: -65px;
  font-size: 20px;
}

.icon__cercle {
  color: $colour-tertiary;
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  background-color: white;
  font-size: 20px;
}
