.link {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
    .restaurantCard__new {
      display: none;
    }
  }
}
.link__footer {
  text-decoration: none;
  color: white;
  &:visted {
    color: white;
  }
}
