.restaurantPreview {
  .restaurantPreview__img {
    width: 100%;
    height: 300px;
    display: block;
    margin-top: 15px;
    position: relative;
    max-height: 350px;
    object-fit: cover;
  }
  .restaurantPreview__desc {
    border-radius: 35px 35px 0px 0px;
    margin-top: -40px;
    border: solid $grey;
    position: relative;
    z-index: auto;
    background-color: $grey;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .restaurantPreview__title {
      margin-left: 20px;
      font-size: 25px;
      font-family: $font-title;
    }
  }
}
