.restaurantCard {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 8px 1px silver;
  max-width: 335px;
  margin-left: 15px;
  margin-right: 20px;
  max-height: 252px;
  min-width: 335px;
  min-height: 252px;
  display: flex;
  flex-direction: column;
  .restaurantCard__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .restaurantCard__info {
      margin-left: 15px;
      .restaurantCard__desc {
        margin: 2px;
        font-weight: bold;
      }

      .restaurantCard__localisation {
        margin: 2px;
      }
    }
  }
  .restaurantCard__img {
    object-fit: cover;
    max-height: 175px;
    position: relative;
    width: 335px;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurantCard__new {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkGreen;
    font-size: 14px;
    width: 80px;
    height: 30px;
    background-color: $colour-tertiary;
    position: relative;
    z-index: auto;
    margin-top: -160px;
    margin-left: 240px;
    margin-bottom: 130px;
  }
}
